In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Just using the Hospital data for now

In [2]:
#Don't really used this one
import pandas as pd
import numpy as np
#df0 = pd.read_csv('./mimic-iv-2.2/icu/icustays.csv.gz',)

#df0["subject_id"].value_counts().index[0]

Start of by seeing what's up with the patients

In [3]:
dfPatients = pd.read_csv('./mimic-iv-2.2/hosp/patients.csv.gz')

In [4]:
dfPatients

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,NaN
2,10000068,F,19,2160,2008 - 2010,NaN
3,10000084,M,72,2160,2017 - 2019,2161-02-13
4,10000102,F,27,2136,2008 - 2010,NaN
...,...,...,...,...,...,...
299707,19999828,F,46,2147,2017 - 2019,NaN
299708,19999829,F,28,2186,2008 - 2010,NaN
299709,19999840,M,58,2164,2008 - 2010,2164-09-17
299710,19999914,F,49,2158,2017 - 2019,NaN
299711,19999987,F,57,2145,2011 - 2013,NaN

In [5]:
dfPatients['anchor_age'].value_counts()

20    9306
21    8128
22    7635
23    7197
91    6808
      ...
85    2172
86    2036
87    1809
88    1746
89    1080
Name: anchor_age, Length: 73, dtype: int64

In [6]:
dfPatients['anchor_age'].max()

91

In [7]:
dfPatients['anchor_age'].min()

18

Cannot load more than 10 000 000 rows, the computer cannot handle <p>
This should be enough...<p>
Tho I didn't used this

In [8]:
#dfEmar = pd.read_csv('./mimic-iv-2.2/hosp/emar.csv.gz', nrows = 10000000, compression='gzip')

In [9]:
#first = dfEmar['subject_id'].value_counts().index[0]

In [10]:
#firstSubject = dfEmar[dfEmar['subject_id'] == first]

In [11]:
#firstSubject

In [12]:
#firstSubject['charttime'] = pd.to_datetime(firstSubject['charttime'])

In [13]:
#firstSubject.sort_values(by='charttime' ,inplace=True)

#firstSubject

In [14]:
#dfEmar['emar_seq'].max()

Next, see what's up with the admissions

In [15]:
dfAdmissions = pd.read_csv('./mimic-iv-2.2/hosp/admissions.csv.gz')
dfAdmissions

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431226,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P75BG6,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,2149-01-08 09:11:00,2149-01-08 18:12:00,0
431227,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P16C7J,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,2147-07-17 17:18:00,2147-07-18 17:34:00,0
431228,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P58A9J,EMERGENCY ROOM,DIED,Other,ENGLISH,WIDOWED,WHITE,2164-09-10 11:09:00,2164-09-10 14:46:00,1
431229,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P506DE,EMERGENCY ROOM,HOME,Other,ENGLISH,WIDOWED,WHITE,2164-07-24 21:16:00,2164-07-25 01:20:00,0
431230,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P09IS0,EMERGENCY ROOM,REHAB,Other,ENGLISH,NaN,UNKNOWN,2145-11-02 19:28:00,2145-11-02 22:59:00,0

Dropped these columns because didn't seem important, at all

In [16]:
columnsToDrop = ['language','marital_status','race']
dfAdmissions = dfAdmissions.drop(columns=columnsToDrop)

In [17]:
dfAdmissions

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,2160-03-03 21:55:00,2160-03-04 06:26:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431226,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P75BG6,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,2149-01-08 09:11:00,2149-01-08 18:12:00,0
431227,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P16C7J,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,2147-07-17 17:18:00,2147-07-18 17:34:00,0
431228,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P58A9J,EMERGENCY ROOM,DIED,Other,2164-09-10 11:09:00,2164-09-10 14:46:00,1
431229,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P506DE,EMERGENCY ROOM,HOME,Other,2164-07-24 21:16:00,2164-07-25 01:20:00,0
431230,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P09IS0,EMERGENCY ROOM,REHAB,Other,2145-11-02 19:28:00,2145-11-02 22:59:00,0

Created a column that counts the number of admissions of each patient<p>
And merged it into the dfPatients

In [18]:
#admission_counts = dfAdmissions.groupby('subject_id').size().reset_index(name='admission_counts')

#dfPatients = pd.merge(dfPatients, admission_counts, on='subject_id', how='left')

#dfPatients['admission_counts'].fillna(0, inplace=True)

In [19]:
#dfPatients['admission_counts'].fillna(0, inplace=True)
dfPatients['dod'].fillna(0, inplace=True)

In [20]:
#dfPatients['admission_counts'].astype(int)

Merge dfPatients with dfAdmissions

In [21]:
dfPatients = pd.merge(dfPatients, dfAdmissions, on='subject_id', how='left')

In [22]:
dfPatients['admittime'] = pd.to_datetime(dfPatients['admittime'])
dfPatients['dischtime'] = pd.to_datetime(dfPatients['dischtime'])
dfPatients['edregtime'] = pd.to_datetime(dfPatients['edregtime'])
dfPatients['edouttime'] = pd.to_datetime(dfPatients['edouttime'])

In [23]:
dfPatients

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,edregtime,edouttime,hospital_expire_flag
0,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,2180-05-06 19:17:00,2180-05-06 23:30:00,0.0
1,10000032,F,52,2180,2014 - 2016,2180-09-09,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,2180-06-26 15:54:00,2180-06-26 21:31:00,0.0
2,10000032,F,52,2180,2014 - 2016,2180-09-09,25742920.0,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,2180-08-05 20:58:00,2180-08-06 01:44:00,0.0
3,10000032,F,52,2180,2014 - 2016,2180-09-09,29079034.0,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,2180-07-23 05:54:00,2180-07-23 14:00:00,0.0
4,10000048,F,23,2126,2008 - 2010,0,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550205,19999829,F,28,2186,2008 - 2010,0,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
550206,19999840,M,58,2164,2008 - 2010,2164-09-17,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P58A9J,EMERGENCY ROOM,DIED,Other,2164-09-10 11:09:00,2164-09-10 14:46:00,1.0
550207,19999840,M,58,2164,2008 - 2010,2164-09-17,26071774.0,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P506DE,EMERGENCY ROOM,HOME,Other,2164-07-24 21:16:00,2164-07-25 01:20:00,0.0
550208,19999914,F,49,2158,2017 - 2019,0,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
550209,19999987,F,57,2145,2011 - 2013,0,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P09IS0,EMERGENCY ROOM,REHAB,Other,2145-11-02 19:28:00,2145-11-02 22:59:00,0.0

I want to also join the dataset of the prescriptions

In [24]:
dfPrescriptions = pd.read_csv('./mimic-iv-2.2/hosp/prescriptions.csv.gz', nrows= 100000)

/tmp/ipykernel_13584/2620109029.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  dfPrescriptions = pd.read_csv('./mimic-iv-2.2/hosp/prescriptions.csv.gz', nrows= 100000)

In [25]:
dfPrescriptions

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,11700683,10000032-34,34.0,P76JEQ,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Acetaminophen,...,004490,9.041989e+08,500mg Tablet,NaN,500,mg,1,TAB,NaN,PO/NG
1,10000032,22595853,14779570,10000032-22,22.0,P76JEQ,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
2,10000032,22595853,19796602,10000032-50,50.0,P260SK,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
3,10000032,22595853,20256254,10000032-32,32.0,P76JEQ,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Raltegravir,...,063231,6.022761e+06,400 mg Tablet,NaN,400,mg,1,TAB,2.0,PO
4,10000032,22595853,28781051,10000032-27,27.0,P76JEQ,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Heparin,...,006549,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,10071167,25098957,19963207,10071167-64,64.0,P88I8U,2149-12-12 10:00:00,2149-12-12 20:00:00,BASE,5% Dextrose,...,1972.0,3.380017e+08,1000mL Bag,NaN,1000,mL,1,mL,NaN,IV
99996,10071167,25098957,19963207,10071167-64,64.0,P88I8U,2149-12-12 10:00:00,2149-12-12 20:00:00,MAIN,Sodium Bicarbonate,...,1185.0,4.096625e+08,50mEq Vial,NaN,150,mEq,3,VIAL,NaN,IV
99997,10071167,25098957,24070594,10071167-70,70.0,P62I68,2149-12-12 11:00:00,2149-12-12 14:00:00,MAIN,Glucagon,...,41660.0,5.539000e+10,1mg Vial,NaN,1,mg,1,VIAL,NaN,IM
99998,10071167,25098957,26615138,10071167-28,28.0,P91HUW,2149-12-12 06:00:00,2149-12-12 14:00:00,MAIN,Pneumococcal Vac Polyvalent,...,48548.0,6.494300e+06,25mcg/0.5mL Vial,NaN,0.5,mL,1,VIAL,NaN,IM
99999,10071167,25098957,29473287,10071167-53,53.0,P91HUW,2149-12-12 07:00:00,2149-12-12 14:00:00,MAIN,Dextrose 50%,...,1989.0,4.094902e+08,50mL Syringe,NaN,25,gm,1,SYR,1.0,IV

In [26]:
dfPatients = pd.merge(dfPatients, dfPrescriptions, on='subject_id', how='left')

In [27]:
dfPatients

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id_x,admittime,dischtime,deathtime,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,004490,9.041989e+08,500mg Tablet,NaN,500,mg,1,TAB,NaN,PO/NG
1,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
2,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
3,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,063231,6.022761e+06,400 mg Tablet,NaN,400,mg,1,TAB,2.0,PO
4,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,006549,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193700,19999829,F,28,2186,2008 - 2010,0,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193701,19999840,M,58,2164,2008 - 2010,2164-09-17,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193702,19999840,M,58,2164,2008 - 2010,2164-09-17,26071774.0,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193703,19999914,F,49,2158,2017 - 2019,0,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193704,19999987,F,57,2145,2011 - 2013,0,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
dfPatients['drug'].value_counts()

Insulin                        54837
0.9% Sodium Chloride           20455
Sodium Chloride 0.9%  Flush    19155
Potassium Chloride             16735
Acetaminophen                  16103
                               ...
carisoprodol                       1
adalimumab                         1
Isosorbide                         1
diazePAM suppositories             1
Acebutolol HCl                     1
Name: drug, Length: 1262, dtype: int64

In [29]:
#dfPatients.drop(columns='subject_id_y')

Since we already have the dataset(sort of), let's aplly the filter of 30 days

Its interesting because before the filter the dataset had 1193705 rows and after it, it has 443 rows. Which makes me think the filter is wrong... Somehow

In [30]:
def maskFor30Days(df):
    time_differences = (dfPatients['admittime'].iloc[1:].reset_index(drop=True) - 
                        dfPatients['dischtime'].iloc[0:-1].reset_index(drop=True)
    )
    readmission =(time_differences.dt.days<=30)
    readmission = np.append(readmission, False)
    return readmission

In [32]:
dfAdmissions = dfAdmissions.groupby('subject_id').apply(maskFor30Days)

:

:

In [ ]:

dfPatients.groupby('subject_id').apply(maskFor30Days).explode()

:

:

In [ ]:
readmitted_within_30_days

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id_x,admittime,dischtime,deathtime,...,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route,time_difference
1,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV,0 days 00:00:00
2,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG,0 days 00:00:00
3,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,6.022761e+06,400 mg Tablet,NaN,400,mg,1,TAB,2.0,PO,0 days 00:00:00
4,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC,0 days 00:00:00
5,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,1.730682e+08,8 g Inhaler,NaN,2,PUFF,0.02,INH,NaN,IH,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193683,19999784,M,57,2119,2017 - 2019,0,23519817.0,2119-10-03 09:43:00,2119-10-08 13:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13 days 23:21:00
1193695,19999784,M,57,2119,2017 - 2019,0,29355057.0,2119-10-17 10:28:00,2119-10-23 14:45:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14 days 00:45:00
1193681,19999784,M,57,2119,2017 - 2019,0,23064891.0,2119-10-31 09:47:00,2119-11-05 12:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13 days 23:19:00
1193687,19999784,M,57,2119,2017 - 2019,0,25180002.0,2119-12-30 09:54:00,2120-01-04 16:20:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25 days 00:23:00
1193690,19999784,M,57,2119,2017 - 2019,0,27192150.0,2120-01-26 00:00:00,2120-02-01 12:15:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26 days 14:06:00

In [ ]:
readmitted_within_30_days.drop(columns={'hadm_id_y'}, inplace=True)

/tmp/ipykernel_7706/1214772056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmitted_within_30_days.drop(columns={'hadm_id_y'}, inplace=True)

In [ ]:
readmitted_within_30_days.rename(columns={'hadm_id_x' : 'hadm_id'}, inplace=True)

/tmp/ipykernel_7706/282245505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmitted_within_30_days.rename(columns={'hadm_id_x' : 'hadm_id'}, inplace=True)

In [ ]:
admission_counts = readmitted_within_30_days.groupby('subject_id').size().reset_index(name='admission_counts')

filtered_rows = pd.merge(readmitted_within_30_days, admission_counts, on='subject_id', how='left')

#dfPatients['admission_counts'].fillna(0, inplace=True)

In [ ]:
readmitted_within_30_days

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id,admittime,dischtime,deathtime,...,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route,time_difference
1,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV,0 days 00:00:00
2,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG,0 days 00:00:00
3,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,6.022761e+06,400 mg Tablet,NaN,400,mg,1,TAB,2.0,PO,0 days 00:00:00
4,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC,0 days 00:00:00
5,10000032,F,52,2180,2014 - 2016,2180-09-09,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,...,1.730682e+08,8 g Inhaler,NaN,2,PUFF,0.02,INH,NaN,IH,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193683,19999784,M,57,2119,2017 - 2019,0,23519817.0,2119-10-03 09:43:00,2119-10-08 13:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13 days 23:21:00
1193695,19999784,M,57,2119,2017 - 2019,0,29355057.0,2119-10-17 10:28:00,2119-10-23 14:45:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14 days 00:45:00
1193681,19999784,M,57,2119,2017 - 2019,0,23064891.0,2119-10-31 09:47:00,2119-11-05 12:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13 days 23:19:00
1193687,19999784,M,57,2119,2017 - 2019,0,25180002.0,2119-12-30 09:54:00,2120-01-04 16:20:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25 days 00:23:00
1193690,19999784,M,57,2119,2017 - 2019,0,27192150.0,2120-01-26 00:00:00,2120-02-01 12:15:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26 days 14:06:00

In [ ]:
admission_counts = readmitted_within_30_days.groupby('subject_id').size().reset_index(name='admission_counts')

# Merge the admission counts back into the original DataFrame
readmitted_within_30_days = pd.merge(readmitted_within_30_days, admission_counts, on='subject_id', how='left')

In [ ]:
readmitted_within_30_days['admission_counts']

0         322
1         322
2         322
3         322
4         322
         ...
722027     10
722028     10
722029     10
722030     10
722031     10
Name: admission_counts, Length: 722032, dtype: int64

In [ ]:
readmitted_within_30_days['admission_counts'].value_counts()

122942    122942
1          24105
23587      23587
20614      20614
16371      16371
           ...
79            79
71            71
67            67
64            64
61            61
Name: admission_counts, Length: 422, dtype: int64

In [ ]:
dataSetOf12People = readmitted_within_30_days[filtered_rows['admission_counts'] == 3]

In [ ]:
important12Id = dataSetOf12People['subject_id']
important12Id

402       10000248
403       10000248
404       10000248
191929    10022124
191930    10022124
            ...
721960    19992507
721961    19992507
722009    19998330
722010    19998330
722011    19998330
Name: subject_id, Length: 8484, dtype: int64

In [ ]:
#Wrong because it was counting the number of times this patient was readmitted throughout his/hers life
#filtered_rows['admission_counts'].max()

In [ ]:
#pointless...
#subjectIdMostAdmissions = filtered_rows['subject_id'][filtered_rows['admission_counts'].idxmax()]

In [ ]:
#There are twelve of these
#subjectIdMostAdmissions

In [ ]:
#isPersonDead = filtered_rows[filtered_rows['subject_id'] == subjectIdMostAdmissions]
#isPersonDead

In [ ]:
dfSubID = pd.read_csv('./mimic-iv-2.2/hosp/diagnoses_icd.csv.gz')

dfIcd = pd.read_csv('./mimic-iv-2.2/hosp/d_icd_diagnoses.csv.gz')

In [ ]:
dfSubID

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
4756321    19999987  23865745        7    41401            9
4756322    19999987  23865745        8    78039            9
4756323    19999987  23865745        9     0413            9
4756324    19999987  23865745       10    36846            9
4756325    19999987  23865745       11     7810            9

[4756326 rows x 5 columns]

In [ ]:
dfIcd

,icd_code,icd_version,long_title
0,0010,9,Cholera due to vibrio cholerae
1,0011,9,Cholera due to vibrio cholerae el tor
2,0019,9,"Cholera, unspecified"
3,0020,9,Typhoid fever
4,0021,9,Paratyphoid fever A
...,...,...,...
109770,Z992,10,Dependence on renal dialysis
109771,Z993,10,Dependence on wheelchair
109772,Z998,10,Dependence on other enabling machines and devices
109773,Z9981,10,Dependence on supplemental oxygen
109774,Z9989,10,Dependence on other enabling machines and devices

In [ ]:
dfIcd.loc[dfIcd['icd_code'] == '4019']

     icd_code  icd_version                          long_title
4651     4019            9  Unspecified essential hypertension

In [ ]:
mergedDiag = pd.merge(dfSubID, dfIcd, on='icd_code', how='inner')


#Since the icd_version_y is from the dataset that contains all the codes even the ones not attribuate to any patient 
#We can just drop the column 'icd_version_y'

mergedDiag = mergedDiag.drop(columns=['icd_version_y'])


mergedDiag = mergedDiag.rename(columns={'icd_version_x': 'icd_version'})

In [ ]:
for patient in important12Id:
    current = mergedDiag[mergedDiag['subject_id'] == patient]
    current
    current['long_title'].value_counts()

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
22228,12324099,20972952,11,496,9,"Chronic airway obstruction, not elsewhere clas..."
22229,12324099,21514911,7,496,9,"Chronic airway obstruction, not elsewhere clas..."
22230,12324099,23882664,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
22231,12324099,24131920,8,496,9,"Chronic airway obstruction, not elsewhere clas..."
22232,12324099,24409379,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
4799336,12324099,26157745,6,7473,9,Anomalies of pulmonary artery
4799337,12324099,29262813,7,7473,9,Anomalies of pulmonary artery
4816866,12324099,26591162,1,9642,9,Poisoning by anticoagulants
4826806,12324099,24186716,7,74684,9,"Obstructive anomalies of heart, not elsewhere ..."
4826807,12324099,28395419,6,74684,9,"Obstructive anomalies of heart, not elsewhere ..."

End stage renal disease                                                                                             43
Atrial fibrillation                                                                                                 40
Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage V or end stage renal disease    39
Congestive heart failure, unspecified                                                                               38
Below knee amputation status                                                                                        37
                                                                                                                    ..
Staphylococcus infection in conditions classified elsewhere and of unspecified site, other staphylococcus            1
Intestinal infection due to Clostridium difficile                                                                    1
Obstructive chronic bronchitis with (acute) exacerbation                                                             1
Chronic ischemic heart disease, unspecified                                                                          1
Home accidents                                                                                                       1
Name: long_title, Length: 98, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
22228,12324099,20972952,11,496,9,"Chronic airway obstruction, not elsewhere clas..."
22229,12324099,21514911,7,496,9,"Chronic airway obstruction, not elsewhere clas..."
22230,12324099,23882664,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
22231,12324099,24131920,8,496,9,"Chronic airway obstruction, not elsewhere clas..."
22232,12324099,24409379,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
4799336,12324099,26157745,6,7473,9,Anomalies of pulmonary artery
4799337,12324099,29262813,7,7473,9,Anomalies of pulmonary artery
4816866,12324099,26591162,1,9642,9,Poisoning by anticoagulants
4826806,12324099,24186716,7,74684,9,"Obstructive anomalies of heart, not elsewhere ..."
4826807,12324099,28395419,6,74684,9,"Obstructive anomalies of heart, not elsewhere ..."

End stage renal disease                                                                                             43
Atrial fibrillation                                                                                                 40
Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage V or end stage renal disease    39
Congestive heart failure, unspecified                                                                               38
Below knee amputation status                                                                                        37
                                                                                                                    ..
Staphylococcus infection in conditions classified elsewhere and of unspecified site, other staphylococcus            1
Intestinal infection due to Clostridium difficile                                                                    1
Obstructive chronic bronchitis with (acute) exacerbation                                                             1
Chronic ischemic heart disease, unspecified                                                                          1
Home accidents                                                                                                       1
Name: long_title, Length: 98, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
22228,12324099,20972952,11,496,9,"Chronic airway obstruction, not elsewhere clas..."
22229,12324099,21514911,7,496,9,"Chronic airway obstruction, not elsewhere clas..."
22230,12324099,23882664,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
22231,12324099,24131920,8,496,9,"Chronic airway obstruction, not elsewhere clas..."
22232,12324099,24409379,9,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
4799336,12324099,26157745,6,7473,9,Anomalies of pulmonary artery
4799337,12324099,29262813,7,7473,9,Anomalies of pulmonary artery
4816866,12324099,26591162,1,9642,9,Poisoning by anticoagulants
4826806,12324099,24186716,7,74684,9,"Obstructive anomalies of heart, not elsewhere ..."
4826807,12324099,28395419,6,74684,9,"Obstructive anomalies of heart, not elsewhere ..."

End stage renal disease                                                                                             43
Atrial fibrillation                                                                                                 40
Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage V or end stage renal disease    39
Congestive heart failure, unspecified                                                                               38
Below knee amputation status                                                                                        37
                                                                                                                    ..
Staphylococcus infection in conditions classified elsewhere and of unspecified site, other staphylococcus            1
Intestinal infection due to Clostridium difficile                                                                    1
Obstructive chronic bronchitis with (acute) exacerbation                                                             1
Chronic ischemic heart disease, unspecified                                                                          1
Home accidents                                                                                                       1
Name: long_title, Length: 98, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
37035,17461328,28669094,5,29680,9,"Bipolar disorder, unspecified"
386987,17461328,24901031,6,2859,9,"Anemia, unspecified"
434475,17461328,24901031,4,25000,9,Diabetes mellitus without mention of complicat...
434476,17461328,27618671,2,25000,9,Diabetes mellitus without mention of complicat...
434477,17461328,28669094,6,25000,9,Diabetes mellitus without mention of complicat...
517422,17461328,24901031,5,4019,9,Unspecified essential hypertension
517423,17461328,27618671,3,4019,9,Unspecified essential hypertension
596036,17461328,28669094,4,5849,9,"Acute kidney failure, unspecified"
607074,17461328,28669094,14,7802,9,Syncope and collapse
805237,17461328,24901031,2,5990,9,"Urinary tract infection, site not specified"
820232,17461328,28669094,9,2768,9,Hypopotassemia
896303,17461328,28669094,8,27651,9,Dehydration
1285869,17461328,28669094,13,V1581,9,Personal history of noncompliance with medical...
1359250,17461328,28669094,7,53081,9,Esophageal reflux
1401148,17461328,28669094,3,2851,9,Acute posthemorrhagic anemia
2431046,17461328,28669094,2,5781,9,Blood in stool
2876656,17461328,28669094,12,E8889,9,Unspecified fall
2876657,17461328,28669094,12,E8889,9,Other specified metabolic disorders
2961787,17461328,28669094,10,4011,9,Benign essential hypertension
3363485,17461328,27618671,1,29590,9,"Unspecified schizophrenia, unspecified"
3532253,17461328,24901031,1,29570,9,"Schizoaffective disorder, unspecified"
3540036,17461328,24901031,7,04149,9,Other and unspecified Escherichia coli [E. coli]
3674501,17461328,24901031,3,29689,9,Other bipolar disorders
3833934,17461328,28669094,11,87343,9,"Open wound of lip, without mention of complica..."
4060289,17461328,28669094,1,29520,9,"Catatonic type schizophrenia, unspecified"

Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled    3
Unspecified essential hypertension                                                                            2
Bipolar disorder, unspecified                                                                                 1
Blood in stool                                                                                                1
Open wound of lip, without mention of complication                                                            1
Other bipolar disorders                                                                                       1
Other and unspecified Escherichia coli [E. coli]                                                              1
Schizoaffective disorder, unspecified                                                                         1
Unspecified schizophrenia, unspecified                                                                        1
Benign essential hypertension                                                                                 1
Other specified metabolic disorders                                                                           1
Unspecified fall                                                                                              1
Acute posthemorrhagic anemia                                                                                  1
Anemia, unspecified                                                                                           1
Esophageal reflux                                                                                             1
Personal history of noncompliance with medical treatment, presenting hazards to health                        1
Dehydration                                                                                                   1
Hypopotassemia                                                                                                1
Urinary tract infection, site not specified                                                                   1
Syncope and collapse                                                                                          1
Acute kidney failure, unspecified                                                                             1
Catatonic type schizophrenia, unspecified                                                                     1
Name: long_title, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
37035,17461328,28669094,5,29680,9,"Bipolar disorder, unspecified"
386987,17461328,24901031,6,2859,9,"Anemia, unspecified"
434475,17461328,24901031,4,25000,9,Diabetes mellitus without mention of complicat...
434476,17461328,27618671,2,25000,9,Diabetes mellitus without mention of complicat...
434477,17461328,28669094,6,25000,9,Diabetes mellitus without mention of complicat...
517422,17461328,24901031,5,4019,9,Unspecified essential hypertension
517423,17461328,27618671,3,4019,9,Unspecified essential hypertension
596036,17461328,28669094,4,5849,9,"Acute kidney failure, unspecified"
607074,17461328,28669094,14,7802,9,Syncope and collapse
805237,17461328,24901031,2,5990,9,"Urinary tract infection, site not specified"
820232,17461328,28669094,9,2768,9,Hypopotassemia
896303,17461328,28669094,8,27651,9,Dehydration
1285869,17461328,28669094,13,V1581,9,Personal history of noncompliance with medical...
1359250,17461328,28669094,7,53081,9,Esophageal reflux
1401148,17461328,28669094,3,2851,9,Acute posthemorrhagic anemia
2431046,17461328,28669094,2,5781,9,Blood in stool
2876656,17461328,28669094,12,E8889,9,Unspecified fall
2876657,17461328,28669094,12,E8889,9,Other specified metabolic disorders
2961787,17461328,28669094,10,4011,9,Benign essential hypertension
3363485,17461328,27618671,1,29590,9,"Unspecified schizophrenia, unspecified"
3532253,17461328,24901031,1,29570,9,"Schizoaffective disorder, unspecified"
3540036,17461328,24901031,7,04149,9,Other and unspecified Escherichia coli [E. coli]
3674501,17461328,24901031,3,29689,9,Other bipolar disorders
3833934,17461328,28669094,11,87343,9,"Open wound of lip, without mention of complica..."
4060289,17461328,28669094,1,29520,9,"Catatonic type schizophrenia, unspecified"

Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled    3
Unspecified essential hypertension                                                                            2
Bipolar disorder, unspecified                                                                                 1
Blood in stool                                                                                                1
Open wound of lip, without mention of complication                                                            1
Other bipolar disorders                                                                                       1
Other and unspecified Escherichia coli [E. coli]                                                              1
Schizoaffective disorder, unspecified                                                                         1
Unspecified schizophrenia, unspecified                                                                        1
Benign essential hypertension                                                                                 1
Other specified metabolic disorders                                                                           1
Unspecified fall                                                                                              1
Acute posthemorrhagic anemia                                                                                  1
Anemia, unspecified                                                                                           1
Esophageal reflux                                                                                             1
Personal history of noncompliance with medical treatment, presenting hazards to health                        1
Dehydration                                                                                                   1
Hypopotassemia                                                                                                1
Urinary tract infection, site not specified                                                                   1
Syncope and collapse                                                                                          1
Acute kidney failure, unspecified                                                                             1
Catatonic type schizophrenia, unspecified                                                                     1
Name: long_title, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
37035,17461328,28669094,5,29680,9,"Bipolar disorder, unspecified"
386987,17461328,24901031,6,2859,9,"Anemia, unspecified"
434475,17461328,24901031,4,25000,9,Diabetes mellitus without mention of complicat...
434476,17461328,27618671,2,25000,9,Diabetes mellitus without mention of complicat...
434477,17461328,28669094,6,25000,9,Diabetes mellitus without mention of complicat...
517422,17461328,24901031,5,4019,9,Unspecified essential hypertension
517423,17461328,27618671,3,4019,9,Unspecified essential hypertension
596036,17461328,28669094,4,5849,9,"Acute kidney failure, unspecified"
607074,17461328,28669094,14,7802,9,Syncope and collapse
805237,17461328,24901031,2,5990,9,"Urinary tract infection, site not specified"
820232,17461328,28669094,9,2768,9,Hypopotassemia
896303,17461328,28669094,8,27651,9,Dehydration
1285869,17461328,28669094,13,V1581,9,Personal history of noncompliance with medical...
1359250,17461328,28669094,7,53081,9,Esophageal reflux
1401148,17461328,28669094,3,2851,9,Acute posthemorrhagic anemia
2431046,17461328,28669094,2,5781,9,Blood in stool
2876656,17461328,28669094,12,E8889,9,Unspecified fall
2876657,17461328,28669094,12,E8889,9,Other specified metabolic disorders
2961787,17461328,28669094,10,4011,9,Benign essential hypertension
3363485,17461328,27618671,1,29590,9,"Unspecified schizophrenia, unspecified"
3532253,17461328,24901031,1,29570,9,"Schizoaffective disorder, unspecified"
3540036,17461328,24901031,7,04149,9,Other and unspecified Escherichia coli [E. coli]
3674501,17461328,24901031,3,29689,9,Other bipolar disorders
3833934,17461328,28669094,11,87343,9,"Open wound of lip, without mention of complica..."
4060289,17461328,28669094,1,29520,9,"Catatonic type schizophrenia, unspecified"

Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled    3
Unspecified essential hypertension                                                                            2
Bipolar disorder, unspecified                                                                                 1
Blood in stool                                                                                                1
Open wound of lip, without mention of complication                                                            1
Other bipolar disorders                                                                                       1
Other and unspecified Escherichia coli [E. coli]                                                              1
Schizoaffective disorder, unspecified                                                                         1
Unspecified schizophrenia, unspecified                                                                        1
Benign essential hypertension                                                                                 1
Other specified metabolic disorders                                                                           1
Unspecified fall                                                                                              1
Acute posthemorrhagic anemia                                                                                  1
Anemia, unspecified                                                                                           1
Esophageal reflux                                                                                             1
Personal history of noncompliance with medical treatment, presenting hazards to health                        1
Dehydration                                                                                                   1
Hypopotassemia                                                                                                1
Urinary tract infection, site not specified                                                                   1
Syncope and collapse                                                                                          1
Acute kidney failure, unspecified                                                                             1
Catatonic type schizophrenia, unspecified                                                                     1
Name: long_title, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
71877,19625808,21096747,15,V1582,9,Personal history of tobacco use
71878,19625808,21893876,19,V1582,9,Personal history of tobacco use
71879,19625808,23981245,18,V1582,9,Personal history of tobacco use
71880,19625808,27792482,17,V1582,9,Personal history of tobacco use
93413,19625808,21893876,5,2761,9,Hyposmolality and/or hyponatremia
...,...,...,...,...,...,...
4775036,19625808,24847963,11,Y841,10,Kidney dialysis as the cause of abnormal react...
4788008,19625808,27117024,18,T7840XD,10,"Allergy, unspecified, subsequent encounter"
4796017,19625808,24847963,37,T7849XA,10,"Other allergy, initial encounter"
4799744,19625808,23180703,11,99656,9,Mechanical complication due to peritoneal dial...
4820622,19625808,21096747,19,79091,9,Abnormal arterial blood gases

Gastroparesis                                                                                                29
End stage renal disease                                                                                      26
Hypertensive chronic kidney disease with stage 5 chronic kidney disease or end stage renal disease           20
Type 1 diabetes mellitus with diabetic autonomic (poly)neuropathy                                            20
Type 1 diabetes mellitus with diabetic chronic kidney disease                                                20
                                                                                                             ..
Dehydration                                                                                                   1
Cervicalgia                                                                                                   1
Personal history of other infectious and parasitic diseases                                                   1
Other specified complication of other internal prosthetic devices, implants and grafts, initial encounter     1
Abnormal arterial blood gases                                                                                 1
Name: long_title, Length: 185, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
71877,19625808,21096747,15,V1582,9,Personal history of tobacco use
71878,19625808,21893876,19,V1582,9,Personal history of tobacco use
71879,19625808,23981245,18,V1582,9,Personal history of tobacco use
71880,19625808,27792482,17,V1582,9,Personal history of tobacco use
93413,19625808,21893876,5,2761,9,Hyposmolality and/or hyponatremia
...,...,...,...,...,...,...
4775036,19625808,24847963,11,Y841,10,Kidney dialysis as the cause of abnormal react...
4788008,19625808,27117024,18,T7840XD,10,"Allergy, unspecified, subsequent encounter"
4796017,19625808,24847963,37,T7849XA,10,"Other allergy, initial encounter"
4799744,19625808,23180703,11,99656,9,Mechanical complication due to peritoneal dial...
4820622,19625808,21096747,19,79091,9,Abnormal arterial blood gases

Gastroparesis                                                                                                29
End stage renal disease                                                                                      26
Hypertensive chronic kidney disease with stage 5 chronic kidney disease or end stage renal disease           20
Type 1 diabetes mellitus with diabetic autonomic (poly)neuropathy                                            20
Type 1 diabetes mellitus with diabetic chronic kidney disease                                                20
                                                                                                             ..
Dehydration                                                                                                   1
Cervicalgia                                                                                                   1
Personal history of other infectious and parasitic diseases                                                   1
Other specified complication of other internal prosthetic devices, implants and grafts, initial encounter     1
Abnormal arterial blood gases                                                                                 1
Name: long_title, Length: 185, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
71877,19625808,21096747,15,V1582,9,Personal history of tobacco use
71878,19625808,21893876,19,V1582,9,Personal history of tobacco use
71879,19625808,23981245,18,V1582,9,Personal history of tobacco use
71880,19625808,27792482,17,V1582,9,Personal history of tobacco use
93413,19625808,21893876,5,2761,9,Hyposmolality and/or hyponatremia
...,...,...,...,...,...,...
4775036,19625808,24847963,11,Y841,10,Kidney dialysis as the cause of abnormal react...
4788008,19625808,27117024,18,T7840XD,10,"Allergy, unspecified, subsequent encounter"
4796017,19625808,24847963,37,T7849XA,10,"Other allergy, initial encounter"
4799744,19625808,23180703,11,99656,9,Mechanical complication due to peritoneal dial...
4820622,19625808,21096747,19,79091,9,Abnormal arterial blood gases

Gastroparesis                                                                                                29
End stage renal disease                                                                                      26
Hypertensive chronic kidney disease with stage 5 chronic kidney disease or end stage renal disease           20
Type 1 diabetes mellitus with diabetic autonomic (poly)neuropathy                                            20
Type 1 diabetes mellitus with diabetic chronic kidney disease                                                20
                                                                                                             ..
Dehydration                                                                                                   1
Cervicalgia                                                                                                   1
Personal history of other infectious and parasitic diseases                                                   1
Other specified complication of other internal prosthetic devices, implants and grafts, initial encounter     1
Abnormal arterial blood gases                                                                                 1
Name: long_title, Length: 185, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
225292,19840300,20991532,6,E785,10,"Hyperlipidemia, unspecified"
225293,19840300,25766945,4,E785,10,"Hyperlipidemia, unspecified"
225294,19840300,27892544,6,E785,10,"Hyperlipidemia, unspecified"
225295,19840300,27937327,14,E785,10,"Hyperlipidemia, unspecified"
225296,19840300,28794407,8,E785,10,"Hyperlipidemia, unspecified"
...,...,...,...,...,...,...
4812176,19840300,29643787,3,C8318,10,"Mantle cell lymphoma, lymph nodes of multiple ..."
4828728,19840300,29643787,1,L0292,10,"Furuncle, unspecified"
4842195,19840300,27892544,4,C8319,10,"Mantle cell lymphoma, extranodal and solid org..."
4847876,19840300,28794407,3,C8313,10,"Mantle cell lymphoma, intra-abdominal lymph nodes"
4857032,19840300,29643787,4,C8317,10,"Mantle cell lymphoma, spleen"

Gastro-esophageal reflux disease without esophagitis                                        7
Essential (primary) hypertension                                                            6
Hyperlipidemia, unspecified                                                                 5
Mantle cell lymphoma, lymph nodes of multiple sites                                         5
Encounter for antineoplastic chemotherapy                                                   5
Supraventricular tachycardia                                                                4
Presence of left artificial hip joint                                                       3
Residual hemorrhoidal skin tags                                                             3
Anemia, unspecified                                                                         3
Hyperuricemia without signs of inflammatory arthritis and tophaceous disease                2
Fluid overload, unspecified                                                                 2
Localized edema                                                                             2
Cough                                                                                       2
Fever presenting with conditions classified elsewhere                                       2
Anemia in neoplastic disease                                                                2
Adverse effect of antineoplastic and immunosuppressive drugs, initial encounter             2
Other visual disturbances                                                                   2
Mantle cell lymphoma, unspecified site                                                      2
Encounter for examination for normal comparison and control in clinical research program    2
Thrombocytopenia, unspecified                                                               2
Acute kidney failure, unspecified                                                           2
Acidosis                                                                                    2
Generalized edema                                                                           1
Adverse effect of antineoplastic and immunosuppressive drugs, sequela                       1
Unspecified disorder of eye and adnexa                                                      1
Myelophthisis                                                                               1
Generalized enlarged lymph nodes                                                            1
Follicular disorder, unspecified                                                            1
Neutropenia due to infection                                                                1
Furuncle, unspecified                                                                       1
Mantle cell lymphoma, extranodal and solid organ sites                                      1
Mantle cell lymphoma, intra-abdominal lymph nodes                                           1
Encounter for antineoplastic immunotherapy                                                  1
Other pancytopenia                                                                          1
Acute upper respiratory infection, unspecified                                              1
Cellulitis, unspecified                                                                     1
Dysuria                                                                                     1
Agranulocytosis secondary to cancer chemotherapy                                            1
Tumor lysis syndrome                                                                        1
Other secondary thrombocytopenia                                                            1
Nausea                                                                                      1
Patient room in hospital as the place of occurrence of the external cause                   1
Rash and other nonspecific skin eruption                                                    1
Pneumonia, unspecified organism                                                             1
Nonspecific elevation of levels of transaminase and lactic acid dehydrogenase [LDH]         1
Unspecified place or not applicable                                                         1
Constipation, unspecified                                                                   1
Other chest pain                                                                            1
Mantle cell lymphoma, spleen                                                                1
Name: long_title, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
225292,19840300,20991532,6,E785,10,"Hyperlipidemia, unspecified"
225293,19840300,25766945,4,E785,10,"Hyperlipidemia, unspecified"
225294,19840300,27892544,6,E785,10,"Hyperlipidemia, unspecified"
225295,19840300,27937327,14,E785,10,"Hyperlipidemia, unspecified"
225296,19840300,28794407,8,E785,10,"Hyperlipidemia, unspecified"
...,...,...,...,...,...,...
4812176,19840300,29643787,3,C8318,10,"Mantle cell lymphoma, lymph nodes of multiple ..."
4828728,19840300,29643787,1,L0292,10,"Furuncle, unspecified"
4842195,19840300,27892544,4,C8319,10,"Mantle cell lymphoma, extranodal and solid org..."
4847876,19840300,28794407,3,C8313,10,"Mantle cell lymphoma, intra-abdominal lymph nodes"
4857032,19840300,29643787,4,C8317,10,"Mantle cell lymphoma, spleen"

Gastro-esophageal reflux disease without esophagitis                                        7
Essential (primary) hypertension                                                            6
Hyperlipidemia, unspecified                                                                 5
Mantle cell lymphoma, lymph nodes of multiple sites                                         5
Encounter for antineoplastic chemotherapy                                                   5
Supraventricular tachycardia                                                                4
Presence of left artificial hip joint                                                       3
Residual hemorrhoidal skin tags                                                             3
Anemia, unspecified                                                                         3
Hyperuricemia without signs of inflammatory arthritis and tophaceous disease                2
Fluid overload, unspecified                                                                 2
Localized edema                                                                             2
Cough                                                                                       2
Fever presenting with conditions classified elsewhere                                       2
Anemia in neoplastic disease                                                                2
Adverse effect of antineoplastic and immunosuppressive drugs, initial encounter             2
Other visual disturbances                                                                   2
Mantle cell lymphoma, unspecified site                                                      2
Encounter for examination for normal comparison and control in clinical research program    2
Thrombocytopenia, unspecified                                                               2
Acute kidney failure, unspecified                                                           2
Acidosis                                                                                    2
Generalized edema                                                                           1
Adverse effect of antineoplastic and immunosuppressive drugs, sequela                       1
Unspecified disorder of eye and adnexa                                                      1
Myelophthisis                                                                               1
Generalized enlarged lymph nodes                                                            1
Follicular disorder, unspecified                                                            1
Neutropenia due to infection                                                                1
Furuncle, unspecified                                                                       1
Mantle cell lymphoma, extranodal and solid organ sites                                      1
Mantle cell lymphoma, intra-abdominal lymph nodes                                           1
Encounter for antineoplastic immunotherapy                                                  1
Other pancytopenia                                                                          1
Acute upper respiratory infection, unspecified                                              1
Cellulitis, unspecified                                                                     1
Dysuria                                                                                     1
Agranulocytosis secondary to cancer chemotherapy                                            1
Tumor lysis syndrome                                                                        1
Other secondary thrombocytopenia                                                            1
Nausea                                                                                      1
Patient room in hospital as the place of occurrence of the external cause                   1
Rash and other nonspecific skin eruption                                                    1
Pneumonia, unspecified organism                                                             1
Nonspecific elevation of levels of transaminase and lactic acid dehydrogenase [LDH]         1
Unspecified place or not applicable                                                         1
Constipation, unspecified                                                                   1
Other chest pain                                                                            1
Mantle cell lymphoma, spleen                                                                1
Name: long_title, dtype: int64

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
225292,19840300,20991532,6,E785,10,"Hyperlipidemia, unspecified"
225293,19840300,25766945,4,E785,10,"Hyperlipidemia, unspecified"
225294,19840300,27892544,6,E785,10,"Hyperlipidemia, unspecified"
225295,19840300,27937327,14,E785,10,"Hyperlipidemia, unspecified"
225296,19840300,28794407,8,E785,10,"Hyperlipidemia, unspecified"
...,...,...,...,...,...,...
4812176,19840300,29643787,3,C8318,10,"Mantle cell lymphoma, lymph nodes of multiple ..."
4828728,19840300,29643787,1,L0292,10,"Furuncle, unspecified"
4842195,19840300,27892544,4,C8319,10,"Mantle cell lymphoma, extranodal and solid org..."
4847876,19840300,28794407,3,C8313,10,"Mantle cell lymphoma, intra-abdominal lymph nodes"
4857032,19840300,29643787,4,C8317,10,"Mantle cell lymphoma, spleen"

Gastro-esophageal reflux disease without esophagitis                                        7
Essential (primary) hypertension                                                            6
Hyperlipidemia, unspecified                                                                 5
Mantle cell lymphoma, lymph nodes of multiple sites                                         5
Encounter for antineoplastic chemotherapy                                                   5
Supraventricular tachycardia                                                                4
Presence of left artificial hip joint                                                       3
Residual hemorrhoidal skin tags                                                             3
Anemia, unspecified                                                                         3
Hyperuricemia without signs of inflammatory arthritis and tophaceous disease                2
Fluid overload, unspecified                                                                 2
Localized edema                                                                             2
Cough                                                                                       2
Fever presenting with conditions classified elsewhere                                       2
Anemia in neoplastic disease                                                                2
Adverse effect of antineoplastic and immunosuppressive drugs, initial encounter             2
Other visual disturbances                                                                   2
Mantle cell lymphoma, unspecified site                                                      2
Encounter for examination for normal comparison and control in clinical research program    2
Thrombocytopenia, unspecified                                                               2
Acute kidney failure, unspecified                                                           2
Acidosis                                                                                    2
Generalized edema                                                                           1
Adverse effect of antineoplastic and immunosuppressive drugs, sequela                       1
Unspecified disorder of eye and adnexa                                                      1
Myelophthisis                                                                               1
Generalized enlarged lymph nodes                                                            1
Follicular disorder, unspecified                                                            1
Neutropenia due to infection                                                                1
Furuncle, unspecified                                                                       1
Mantle cell lymphoma, extranodal and solid organ sites                                      1
Mantle cell lymphoma, intra-abdominal lymph nodes                                           1
Encounter for antineoplastic immunotherapy                                                  1
Other pancytopenia                                                                          1
Acute upper respiratory infection, unspecified                                              1
Cellulitis, unspecified                                                                     1
Dysuria                                                                                     1
Agranulocytosis secondary to cancer chemotherapy                                            1
Tumor lysis syndrome                                                                        1
Other secondary thrombocytopenia                                                            1
Nausea                                                                                      1
Patient room in hospital as the place of occurrence of the external cause                   1
Rash and other nonspecific skin eruption                                                    1
Pneumonia, unspecified organism                                                             1
Nonspecific elevation of levels of transaminase and lactic acid dehydrogenase [LDH]         1
Unspecified place or not applicable                                                         1
Constipation, unspecified                                                                   1
Other chest pain                                                                            1
Mantle cell lymphoma, spleen                                                                1
Name: long_title, dtype: int64

## Now we merge the filtered_rows and mergedDiag

In [ ]:
resultingDf = pd.merge(readmitted_within_30_days, mergedDiag, on='subject_id', how='left')

Visual code Studio broke :(

Me taking break    

Update: It works again YAY

In [ ]:
resultingDf

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id_x,admittime,dischtime,deathtime,...,form_val_disp,form_unit_disp,doses_per_24_hrs,route,admission_counts,hadm_id,seq_num,icd_code,icd_version,long_title
0,10108523,M,63,2176,2008 - 2010,0,25986374.0,2180-05-23 09:00:00,2180-05-24 14:55:00,NaN,...,NaN,NaN,NaN,NaN,1,25986374,10,V1582,9,Personal history of tobacco use
1,10108523,M,63,2176,2008 - 2010,0,25986374.0,2180-05-23 09:00:00,2180-05-24 14:55:00,NaN,...,NaN,NaN,NaN,NaN,1,26060973,23,V1582,9,Personal history of tobacco use
2,10108523,M,63,2176,2008 - 2010,0,25986374.0,2180-05-23 09:00:00,2180-05-24 14:55:00,NaN,...,NaN,NaN,NaN,NaN,1,27801571,11,V1582,9,Personal history of tobacco use
3,10108523,M,63,2176,2008 - 2010,0,25986374.0,2180-05-23 09:00:00,2180-05-24 14:55:00,NaN,...,NaN,NaN,NaN,NaN,1,26060973,6,2761,9,Hyposmolality and/or hyponatremia
4,10108523,M,63,2176,2008 - 2010,0,25986374.0,2180-05-23 09:00:00,2180-05-24 14:55:00,NaN,...,NaN,NaN,NaN,NaN,1,26060973,7,6820,9,Cellulitis and abscess of face
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39029,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,25550686,2,E8161,9,Motor vehicle traffic accident due to loss of ...
39030,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,24792308,8,25200,9,"Hyperparathyroidism, unspecified"
39031,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,29145178,1,0539,9,Herpes zoster without mention of complication
39032,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,24999390,12,78721,9,"Dysphagia, oral phase"
39033,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,24999390,11,E9420,9,Cardiac rhythm regulators causing adverse effe...

In [ ]:
#No differance, we can drop either and rename the remaing

#resultingDf.drop(columns='subject_id_y', inplace=True)
#resultingDf.rename(columns={'subject_id_x': 'subject_id'}, inplace=True)

In [ ]:
#resultingDf

Meaning, this df only has 409 patients

In [ ]:
resultingDf['subject_id'].nunique()

409

In [ ]:
resultingDf['admission_counts'].value_counts()

1    27647
2     6902
3     4485
Name: admission_counts, dtype: int64

In [ ]:
sortedResultingDfByAdmission = resultingDf.sort_values(by='admission_counts', ascending=False)

In [ ]:
sortedResultingDfByAdmission

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id_x,admittime,dischtime,deathtime,...,form_val_disp,form_unit_disp,doses_per_24_hrs,route,admission_counts,hadm_id,seq_num,icd_code,icd_version,long_title
7911,12324099,F,73,2178,2008 - 2010,2180-07-05,22274391.0,2180-06-03 06:08:00,2180-06-04 17:36:00,NaN,...,NaN,NaN,NaN,NaN,3,28395419,8,V4975,9,Below knee amputation status
7823,12324099,F,73,2178,2008 - 2010,2180-07-05,22274391.0,2180-06-03 06:08:00,2180-06-04 17:36:00,NaN,...,NaN,NaN,NaN,NaN,3,26591162,2,5856,9,End stage renal disease
7821,12324099,F,73,2178,2008 - 2010,2180-07-05,22274391.0,2180-06-03 06:08:00,2180-06-04 17:36:00,NaN,...,NaN,NaN,NaN,NaN,3,26271864,2,5856,9,End stage renal disease
7820,12324099,F,73,2178,2008 - 2010,2180-07-05,22274391.0,2180-06-03 06:08:00,2180-06-04 17:36:00,NaN,...,NaN,NaN,NaN,NaN,3,26157745,2,5856,9,End stage renal disease
7819,12324099,F,73,2178,2008 - 2010,2180-07-05,22274391.0,2180-06-03 06:08:00,2180-06-04 17:36:00,NaN,...,NaN,NaN,NaN,NaN,3,26138778,2,5856,9,End stage renal disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15240,13802001,M,60,2170,2008 - 2010,0,20705664.0,2180-05-19 22:51:00,2180-05-25 16:29:00,NaN,...,NaN,NaN,NaN,NaN,1,28291368,7,F419,10,"Anxiety disorder, unspecified"
15239,13802001,M,60,2170,2008 - 2010,0,20705664.0,2180-05-19 22:51:00,2180-05-25 16:29:00,NaN,...,NaN,NaN,NaN,NaN,1,24268330,13,F419,10,"Anxiety disorder, unspecified"
15238,13802001,M,60,2170,2008 - 2010,0,20705664.0,2180-05-19 22:51:00,2180-05-25 16:29:00,NaN,...,NaN,NaN,NaN,NaN,1,21716161,9,F419,10,"Anxiety disorder, unspecified"
15237,13802001,M,60,2170,2008 - 2010,0,20705664.0,2180-05-19 22:51:00,2180-05-25 16:29:00,NaN,...,NaN,NaN,NaN,NaN,1,20417660,13,F419,10,"Anxiety disorder, unspecified"
39033,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,1,24999390,11,E9420,9,Cardiac rhythm regulators causing adverse effe...

In [ ]:
sortedResultingDfByAdmission['dod'].value_counts()

0             18960
2183-05-31     2070
2180-07-05     2058
2184-01-16     1830
2184-04-27      912
              ...
2180-05-25       17
2180-05-22       14
2180-08-06       13
2181-01-29       11
2181-03-30        4
Name: dod, Length: 109, dtype: int64

In [ ]:
peopleDied = sortedResultingDfByAdmission[sortedResultingDfByAdmission['dod'] != 0]

In [ ]:
peopleDied

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id,admittime,dischtime,deathtime,...,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route,admission_counts,seq_num,icd_code,icd_version,long_title
1040,12324099,F,73,2178,2008 - 2010,2180-07-05,23882664.0,2180-05-08 23:18:00,2180-05-14 16:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,3,6,4251,9,Hypertrophic obstructive cardiomyopathy
4861,19625808,F,50,2178,2011 - 2013,2183-05-31,23981245.0,2180-05-31 22:06:00,2180-06-06 15:01:00,NaN,...,NaN,NaN,NaN,NaN,NaN,3,16,311,9,"Depressive disorder, not elsewhere classified"
4872,19625808,F,50,2178,2011 - 2013,2183-05-31,23981245.0,2180-05-31 22:06:00,2180-06-06 15:01:00,NaN,...,NaN,NaN,NaN,NaN,NaN,3,13,32723,9,Obstructive sleep apnea (adult)(pediatric)
4871,19625808,F,50,2178,2011 - 2013,2183-05-31,23981245.0,2180-05-31 22:06:00,2180-06-06 15:01:00,NaN,...,NaN,NaN,NaN,NaN,NaN,3,27,34690,9,"Migraine, unspecified, without mention of intr..."
4870,19625808,F,50,2178,2011 - 2013,2183-05-31,23981245.0,2180-05-31 22:06:00,2180-06-06 15:01:00,NaN,...,NaN,NaN,NaN,NaN,NaN,3,26,2449,9,Unspecified acquired hypothyroidism
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1774,13631764,F,82,2180,2008 - 2010,2184-10-03,21699452.0,2180-05-31 08:00:00,2180-06-07 13:38:00,NaN,...,NaN,NaN,NaN,NaN,NaN,1,6,70703,9,"Pressure ulcer, lower back"
1773,13631764,F,82,2180,2008 - 2010,2184-10-03,21699452.0,2180-05-31 08:00:00,2180-06-07 13:38:00,NaN,...,NaN,NaN,NaN,NaN,NaN,1,5,7840,9,Headache
1772,13631764,F,82,2180,2008 - 2010,2184-10-03,21699452.0,2180-05-31 08:00:00,2180-06-07 13:38:00,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2,00845,9,Intestinal infection due to Clostridium difficile
1771,13631764,F,82,2180,2008 - 2010,2184-10-03,21699452.0,2180-05-31 08:00:00,2180-06-07 13:38:00,NaN,...,NaN,NaN,NaN,NaN,NaN,1,4,2720,9,Pure hypercholesterolemia
5025,19985885,F,91,2175,2008 - 2010,2181-02-05,21476430.0,2180-05-21 02:03:00,2180-05-24 17:39:00,NaN,...,NaN,NaN,NaN,NaN,NaN,1,8,43811,9,"Late effects of cerebrovascular disease, aphasia"

In [ ]:
peopleDied['admission_counts'].value_counts()

1    11660
2     4286
3     4128
Name: admission_counts, dtype: int64

There are patients who died several times xD

In [ ]:
first = peopleDied['subject_id'].value_counts().index[0]

In [ ]:
first

19625808

In [ ]:
you = peopleDied[peopleDied['subject_id'] ==first]

In [ ]:
you['dod']

36762    2183-05-31
36557    2183-05-31
36559    2183-05-31
36560    2183-05-31
36561    2183-05-31
            ...
37470    2183-05-31
37467    2183-05-31
37466    2183-05-31
37465    2183-05-31
37464    2183-05-31
Name: dod, Length: 2070, dtype: object

Only 5.42% of people (108) died within a given hospitalization <p> This means 94.58% (1884) die at home or somewhere else

In [ ]:
peopleDied['hospital_expire_flag'].value_counts()
value_counts_percentage = (peopleDied['hospital_expire_flag'].value_counts() / len(peopleDied)) * 100
value_counts_percentage

0.0    1884
1.0     108
Name: hospital_expire_flag, dtype: int64

0.0    94.578313
1.0     5.421687
Name: hospital_expire_flag, dtype: float64

Kids, as you can see high levels of colestrol is highly deadly <p> Eat your vegetables

In [ ]:
peopleDied['long_title'].value_counts()

Atrial fibrillation                                                                                           32
Other and unspecified hyperlipidemia                                                                          32
Congestive heart failure, unspecified                                                                         31
Unspecified essential hypertension                                                                            29
Acute kidney failure, unspecified                                                                             29
                                                                                                              ..
Nausea with vomiting, unspecified                                                                              1
Postprocedural fever                                                                                           1
Unspecified car occupant injured in collision with railway train or railway vehicle in nontraffic accident     1
Intestinal bypass or anastomosis status                                                                        1
Late effects of cerebrovascular disease, aphasia                                                               1
Name: long_title, Length: 847, dtype: int64

##  Lets see what medication these people were taking

We start by seeing for the first disease, Atrial fibrillation

In [ ]:
peopleDied['drug'].value_counts()

Series([], Name: drug, dtype: int64)

In [ ]:
medication = peopleDied[peopleDied['long_title'] == 'Atrial fibrillation']

In [ ]:
medication['drug'].value_counts()

Series([], Name: drug, dtype: int64)

In [ ]:
medication['drug_type'].value_counts()

Series([], Name: drug_type, dtype: int64)

In [ ]:
medication['formulary_drug_cd'].value_counts()

Series([], Name: formulary_drug_cd, dtype: int64)

In [ ]:
peopleDied.sort_values(by='admittime', inplace=True)

/tmp/ipykernel_26030/1411599766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peopleDied.sort_values(by='admittime', inplace=True)

In [ ]:
peopleDied['insurance'].value_counts()

Medicare    1155
Other        724
Medicaid     113
Name: insurance, dtype: int64

In [ ]:
mostAdmittedBrosDec = sortedResultingDfByAdmission[sortedResultingDfByAdmission['admission_counts'] == 3]

In [ ]:
mostAdmittedBrosDec['long_title'].value_counts()

End stage renal disease                                                                                             6
Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage V or end stage renal disease    5
Esophageal reflux                                                                                                   5
Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled          5
Diabetes with renal manifestations, type II or unspecified type, not stated as uncontrolled                         4
                                                                                                                   ..
Other specified metabolic disorders                                                                                 1
Benign essential hypertension                                                                                       1
Dehydration                                                                                                         1
Syncope and collapse                                                                                                1
Hypertensive chronic kidney disease, malignant, with chronic kidney disease stage V or end stage renal disease      1
Name: long_title, Length: 105, dtype: int64

Average of ages is 60

In [ ]:
mostAdmittedBrosDec['anchor_age'].mean().astype(float)

60.204188481675395

In [ ]:
patientsWithEndStageRenalDisease = mostAdmittedBrosDec[mostAdmittedBrosDec['long_title'] == "End stage renal disease"]

In [ ]:
patientsWithEndStageRenalDisease['anchor_age'].value_counts()

50    3
73    3
Name: anchor_age, dtype: int64

These people died on the same days...

In [ ]:
patientsWithEndStageRenalDisease['dod'].value_counts()

2183-05-31    3
2180-07-05    3
Name: dod, dtype: int64